.DrawerToggle {
    border: 0px;
    height: 100%;
    width: 30px;
    color: white;
    font-family: inherit;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    box-sizing: border-box;
}
.DrawerToggle div {
    width: 90%;
    height: 2px;
    background-color: greenyellow;
}

.DrawerToggle:hover {
    cursor: pointer;
}

@media (min-width: 500px) {
    .DrawerToggle {
        display: none;
    }
}

